name: PR labeler
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
    branches:
      - master
      - phase-* # This will run on any branch that starts with "phase-"
jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - name: label-by-branch
        uses: anencore94/labeler@v1.1.0
        with:
          config_path: ".github/labeler.yml"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: label-by-size
        uses: pascalgn/size-label-action@v0.5.0
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          IGNORED: ".*\n!.gitignore\nyarn.lock\ngenerated/**"